/*로그인 글씨*/
.title {
    margin: 50px 0;
}

/*아이디 비밀번호 입력창*/
.form-group {
    width: 300px;
}

.form-control {
    width: 280px;
}

/*로그인 회원가입 버튼*/
.btn-all {
    margin: 30px;
}

.btn {
    width: 110px;
}

/*회원가입 유효성 체크 문구*/
.check-text {
    font-size: 0.8rem;
    margin-left: 2px;
}