@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: GmarketSansLight;
}

html {
    background-image: url(../img/logo.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

}

body {
    margin: 0;
    padding: 0;

}

.left-side {
    background-color: white;
    width: 600px;
    height: 100vh;
    float: left;
    box-shadow: 0 6px 20px -15px #000;
}

.left-form {
    padding-top: 200px;


}

.title {
    width: 160px;
    height: 60px;

    margin: 0px auto;
    padding-top: 15px;
    font-size: 40px;

}

.form-row {
    width: 300px;
    height: 270px;

    margin: auto;
}

.form-group-email {
    width: 300px;
    height: 25px;

    margin: 10px auto 10px auto;
}

.form-group-pw {
    width: 300px;
    height: 25px;

    margin: 50px auto 10px auto;
}

.p {
    margin: 0px auto 0px auto;
}

.p-pw {
    margin: 0px auto 0px auto;
}

.form-control {
    margin: 10px auto 0px auto;
    height: 30px;

    border-radius: 8px;
    border-width: thin;
    border-color: #bfbfbf;
    border-style: solid;

    width: 280px;
}

.form-control-pw {
    margin: 10px auto 0px auto;
    height: 30px;

    border-radius: 8px;
    border-width: thin;
    border-color: #bfbfbf;
    border-style: solid;

    width: 280px;
}

.form-group {
    margin: 0px auto 10px auto;
}

.btn-all :hover {
    background-color: #c7c7c7;
}



.btn {
    width: 80px;
    height: 35px;



    border-radius: 8px;
    border-width: thin;
    border-color: #bfbfbf;
    border-style: solid;

    position: fixed;

    left: 250px;
    right: auto;
    top: 545px;
    bottom: 141px;
}