/* 로딩 관련 css */
/* _position에 관련하여 참고 주소 */
/* https://stackoverflow.com/questions/18106356/what-does-an-underscore-mean-in-css/18106420 */
#loading {
	height: 100%;
	left: 0px;
	position: fixed;
	_position:absolute; 
	top: 0px;
	width: 100%;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity : 0.5;
}
.loading {
	z-index: 100;
}
#loading_img{
	position:absolute; 
	top:50%;
	left:50%;
	height:100px;
	margin-top:-100px;	
	margin-left:-100px;	
	z-index: 200;
}

/* 배경화면 설정 */
/* linear-gradient는 배경 투명도 처리 */
html {
    background: linear-gradient( rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4) ), url(../../img/logo.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


/*폰트설정*/
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: GmarketSansLight;
    color: #F5F2E7;
}


  /* body의 기본 패딩, 마진 제거 */
  body{
      margin: 0;
      padding: 0;
  }

/*모든 a태그 효과 삭제*/
a {
  text-decoration: none;
  color: #F5F2E7;
}

/* 왼쪽 기능 설정 */
.temp-side {
    position: fixed;
    left: 0px;
    bottom: 0px;
    color: #F5F2E7;
}

.now-temp {
    font-size: 100px;
    font-weight: bold;
}

.now-city {
    font-size: 50px;
    margin: 0 10px 0 20px;
}

.now-icon {
    font-size: 50px;
}

/* 오른쪽 기능 설정 */
.weather-side {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    text-align: center;
    margin-top: 50px;
    /*height: 100%;*/

    color: #F5F2E7;
}

.nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;

    width: 400px;
    padding: 10px 100px;
}

.nav-item:hover {
    font-weight: bold;
}

.clothes-box {
    margin: 20px;
}

.clothes {
    width: 400px;
    height: 200px;
}

.first-clothes {
    width: 150px;
    height: 200px;

    /* background-image: url("../img/winter_1.png"); */
    background-image: url("");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    display: inline-block;
}

.second-clothes {
    width: 150px;
    height: 200px;

    background-image: url("");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    display: inline-block;
}

.comment {
    margin: 10px;
}

.weather-table {
    margin: 0 20px 20px 20px;
    width: 400px;
}

.info {
    text-align: left;
}

.temp {
    text-align: right;
}

tr {
    width: 300px;
    height: 50px;
}


/* 오른쪽 블랙 박스 설정 */
.blackbox{
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    width: 600px;
    min-height: 100vh;
    /*height: 100%;*/
    float: right;
}


/* 드롭다운 버튼 */
.dropdown {
    margin: 20px;
}

.cities {
    width: 400px;
    padding: 10px 0;
    border: none;
    background: none;
    color: #F5F2E7;
}

.cities option {
    background-color: #19282F;
}

/*이야기 설정*/
.comment-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    /*height: 100%;*/
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group > label {
    float: left;
}

.form-control {
    width: 380px;
    background: none;
    border: 1px solid;
    border-radius: 8px;

    margin-top: 10px;
    padding: 8px;
}

.btn {
    background: none;
    border: 1px solid;
    border-radius: 5px;
    padding: 8px;
}

.btn:hover {
    cursor: pointer;
}

.form-text {
    padding: 20px 0;
}

.text-muted {
    display: block;
}

.date {
    margin-left: 10px;
}

.comment-scroll {
    width: 400px;
    height: 300px;
    overflow: auto;
}

/*스크롤바 꾸미는 부분*/
::-webkit-scrollbar { width: 6px; } /* 스크롤 바 */
::-webkit-scrollbar-track { background-color:#ffffff60; } /* 스크롤 바 밑의 배경 */
::-webkit-scrollbar-thumb { background: #ffffffb5; border-radius: 10px; } /* 실질적 스크롤 바 */
::-webkit-scrollbar-thumb:hover { background: #ffffff; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
/*::-webkit-scrollbar-thumb:active { background: #ffffff; } !* 실질적 스크롤 바를 클릭할 때 *!*/
::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */