<!DOCTYPE html>
<html lang="en" id="backimg">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>오늘 어떻게 입지?</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/mediaquery.css">

    <!-- 날씨 아이콘 css -->
    <link rel="stylesheet" href="../static/css/weather-icons-wind.css">
    <link rel="stylesheet" href="../static/css/weather-icons-wind.min.css">
    <link rel="stylesheet" href="../static/css/weather-icons.css">
    <link rel="stylesheet" href="../static/css/weather-icons.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrap">
        <!-- 왼쪽  -->
        <div class="temp-side" id="str_color">
            <span class="now-temp" id="cur_temp_info"></span>
            <span class="now-city" id="city_info"></span>
            <!-- icon 양식 -->
            <!-- <i class="wi wi-snowflake-cold"></i> -->
            <span class="now-icon"><i id="weather_icon_info" class="now_weather_info"></i></span>

            <!-- Openweathermap API 아이콘 출력 코드(참고용) -->
            <!-- <span id="icon"><img id="wicon" src="" alt="Weather icon"></span> -->
        </div>
        <!-- 오른쪽 -->
        <div class="blackbox">
            <div class="comment-side">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">옷차림</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comment">이야기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">로그인</a>
                    </li>
                </ul>
                <div class="form">
                    <button type="button" class="btn" onclick="location.href='login'">로그인 하고 이야기 남기러 가자!</button>
                </div>
                <div class="comment-scroll">
                    <table class="comment-table" id="table-box">
                        <tr>
                            <td class="form-text"><small class="text-muted">강원도 삼척시 <span
                                    class="date">    2022.02.18</span></small>
                                오늘 많이 춥네요
                            </td>
                        </tr>
                        <tr>
                            <td class="form-text"><small class="text-muted">서울시 강남구 <span
                                    class="date">2022.02.18</span></small>
                                서울은 따뜻해요!
                            </td>
                        </tr>
                        <tr>
                            <td class="form-text"><small class="text-muted">전라도 광주시 <span
                                    class="date">2022.02.18</span></small>
                                광주는 눈이 와요
                            </td>
                        </tr>
                        <tr>
                            <td class="form-text"><small class="text-muted">전라도 광주시 <span
                                    class="date">2022.02.18</span></small>
                                광주는 눈이 와요
                            </td>
                        </tr>
                        <tr>
                            <td class="form-text"><small class="text-muted">전라도 광주시 <span
                                    class="date">2022.02.18</span></small>
                                광주는 눈이 와요
                            </td>
                        </tr>
                        <tr>
                            <td class="form-text"><small class="text-muted">전라도 광주시 <span
                                    class="date">2022.02.18</span></small>
                                광주는 눈이 와요
                            </td>
                        </tr>
                        <tr>
                            <td class="form-text"><small class="text-muted">전라도 광주시 <span
                                    class="date">2022.02.18</span></small>
                                광주는 눈이 와요
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/comment_weather.js') }}" > </script>
    <script src="{{ url_for('static', filename='js/comment_post.js') }}" > </script>
    <script src="{{ url_for('static', filename='js/comment_show.js') }}" > </script>
<!--    <script type="text/javascript" src="./js/comment_weather.js"></script>-->
<!--    <script type="text/javascript" src="./js/date.js"></script>-->
<!--    <script type="text/javascript" src="js/comment_post.js"></script>-->

</body>
</html>