<!DOCTYPE html>
<html lang="en" id="backimg">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>오늘 어떻게 입지?</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/mediaquery.css">
    <link rel="stylesheet" href="../static/css/login.css">

    <!-- 날씨 아이콘 css -->
    <link rel="stylesheet" href="../static/css/weather-icons-wind.css">
    <link rel="stylesheet" href="../static/css/weather-icons-wind.min.css">
    <link rel="stylesheet" href="../static/css/weather-icons.css">
    <link rel="stylesheet" href="../static/css/weather-icons.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="wrap">
    <!-- 왼쪽  -->
    <div class="temp-side" id="str_color">
        <span class="now-temp" id="cur_temp_info"></span>
        <span class="now-city" id="city_info"></span>
        <!-- icon 양식 -->
        <!-- <i class="wi wi-snowflake-cold"></i> -->
        <span class="now-icon"><i id="weather_icon_info" class="now_weather_info"></i></span>

        <!-- Openweathermap API 아이콘 출력 코드(참고용) -->
        <!-- <span id="icon"><img id="wicon" src="" alt="Weather icon"></span> -->
    </div>
    <!-- 오른쪽 -->
    <div class="blackbox">
        <div class="comment-side">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">옷차림</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comment">이야기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">로그인</a>
                </li>
            </ul>

            <form class="form">
                <h1 class="title">회원가입</h1>
                <div class="form-group">
                    <label class="email">아이디</label>
                    <input type="email" class="form-control" id="id" aria-describedby="emailHelp"
                           placeholder="Enter email" style="padding-left: 10px">
                </div>
                <div class="form-group">
                    <label class="email">닉네임</label>
                    <input type="email" class="form-control" id="nickname" aria-describedby="emailHelp"
                           placeholder="Enter email" style="padding-left: 10px">
                </div>
                <div class="form-group-pw">
                    <label>비밀번호</label>
                    <input type="password" class="form-control-pw" id="pw" placeholder="Password"
                           style="padding-left: 10px">
                </div>
                <div class="btn-all">
                    <button type="button" class="btn-1" onclick="register()">회원가입</button>
                </div>

                <div class="login-api">
                    <a href="https://kauth.kakao.com/oauth/authorize?client_id=d860d38c992ca8bf5f07dcc3fd5122b9&redirect_uri=http://localhost:9090/member/auth/kakao/callback&response_type=code"><img
                            src="/img/kakao_login_medium_wide.png"></a>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/loading.js') }}" > </script>
<!--<script src="{{ url_for('static', filename='js/weather.js') }}" > </script>-->
<script src="{{ url_for('static', filename='js/register.js') }}" > </script>

</body>
</html>